numpy==1.24.2
torch==2.0.1
torchvision==0.15.2
gym==0.26.2
gym-super-mario-bros==7.4.0
autorom==0.4.2
autorom-accept-rom-license==0.6.1
opencv-python==4.6.0.66
pillow==9.5.0
tensorboard==2.13.0
tensorboard-data-server==0.7.0
torch_tb_profiler
gym[atari,accept-rom-license]==0.26.2
gym[classic_control]==0.26.2
matplotlib
kornia
scalene
wandb